/* App.css or a global stylesheet */
.react-datepicker__input-container input {
  border: 2px solid green;
  font-size: 16px;
}
.react-datepicker-wrapper{
    width: 100%;
}

.react-datepicker__header{
     background-color: green;
}
.react-datepicker__header h2{
   color: #fff;
}
.react-datepicker__day--selected {
  background-color: green;
}
.datePickerInput{
    width: 100%;
}
.react-datepicker__view-calendar-icon input {
    width: 100%;
}